<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-15}</string>
                <key>spriteSize</key>
                <string>{250,514}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{181,1},{250,514}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{236,498}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{389,517},{236,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{170,508}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{627,513},{170,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{160,510}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{615,1},{160,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{180,504}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{1,519},{180,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-17}</string>
                <key>spriteSize</key>
                <string>{204,506}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{183,517},{204,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{180,512}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{433,1},{180,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character/08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-15}</string>
                <key>spriteSize</key>
                <string>{178,516}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{798,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27cc973148997da19e46f891d07ca3e6:bc2fcfb6abeedaa565c02c508d70282c:b9a3dd7f67dbb34cb697fcf771a59645$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
